/* || Font Import || */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* || Root Values || */

:root {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --active-bright-blue: hsl(245, 55%, 68%);
}

/* || Properties || */

body {
    margin: 0;
    background-image: url("../images/pattern-background-desktop.svg");
    background-position: 0% -40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--pale-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#order-container {
    max-width: 450px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 15px 15px hsl(224, 23%, 55%, 0.25);
}

#inner-order-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

#order-hero {
    border-radius: 20px 20px 0 0;
    max-width: 100%;
}

#order-title {
    margin: 0px;
    font-weight: 900;
    text-align: center;
    color: var(--dark-blue);
}

#order-text {
    font-weight: 500;
    color: var(--desaturated-blue);
    text-align: center;
    line-height: 1.5;
    margin: 16px 0px 16px 0px;
}

#order-plan {
    padding: 25px;
    display: flex;
    align-items: center;
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    margin-top: 6px;
    margin-bottom: 32px;
}

#order-img {
    margin-right: 17px;
}

#plan-text > p {
    margin: 0;
}

#plan-heading {
    font-weight: 700;
    color: var(--dark-blue);
}

#plan-subheading {
    color: var(--desaturated-blue);
}

#change {
    margin-left: auto;
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--bright-blue);
}

#order-payment {
    background-color: var(--bright-blue);
    border-style: none;
    padding: 15px;
    font-size: 0.9rem;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    margin-bottom: 32px;
    box-shadow: 0px 20px 15px hsl(245, 75%, 52%, 0.2);
    text-align: center;
    text-decoration: none;
}

#order-cancel {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 900;
    color: var(--desaturated-blue);
    text-decoration: none;
}

/* || Hover States || */

#change:hover {
    color: var(--active-bright-blue);
}

#order-payment:hover {
    background-color: var(--active-bright-blue);
}

#order-cancel:hover {
    color: var(--dark-blue);
}

/* || Mobile Optimization || */

@media screen and (max-width: 365px) {
    body {
        background-image: url("../images/pattern-background-mobile.svg");
    }

    #order-container {
        max-width: 320px;
    }

    #inner-order-container {
        padding: 25px;
        padding-bottom: 30px;
    }

    #order-plan {
        padding: 12px;
        margin-bottom: 24px;
    }

    #order-payment {
        margin-bottom: 24px;
    }

    #change, #plan-heading, #plan-subheading {
        font-size: 0.8rem;
    }
    
    #plan-heading, #plan-subheading {
        font-size: 0.9rem;
    }
}